:root {
  --text-black: #212121;
  --text-gray: #757575;
  --text-white: #fff;
  --text-white-transparent: rgba(255, 255, 255, 0.6);
  --border-light-gray: #ececec;
  --border-gray: #afb1b8;
  --bg-white: #fff;
  --bg-white-transparent: rgba(255, 255, 255, 0.1);
  --bg-light-gray: #f5f4fa;
  --bg-dark-gray: #2f303a;
  --obj-active-color: #2196f3;
  --light-gray-button: #f5f4fa;
  --blue-button: #2196f3;
  --blue-button-active-color: #188ce8;

  --default-card-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  --hover-card-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
  --checked-button-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-black);
  font-family: "Roboto", sans-serif;
}

header,
footer,
section,
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  border-bottom: 1px solid var(--border-light-gray);
}

h1 {
  max-width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--text-black);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

a:hover {
  color: var(--obj-active-color);
}

a:hover svg {
  --color4: var(--obj-active-color);
}

button {
  color: var(--text-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
}

button:active {
  background-color: var(--obj-active-color);
}

label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
}

address {
  margin-top: 28px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

address p {
  color: var(--text-white);
  line-height: 1.14;
}

address a {
  color: var(--text-white-transparent);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.container {
  flex-direction: column;
  flex: 0 1 1200px;
  padding-inline: 15px;
  padding-block: 94px;
  z-index: 2;
}

.container > h2 {
  margin-bottom: 50px;
}

header .container {
  flex-direction: row;
  align-items: center;
  padding-block: 24px 25px;
}

footer .container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 70px;
  padding-block: 60px;
}

.header-nav {
  margin-left: 93px;
  margin-right: auto;
}

.header-nav-links {
  gap: 50px;
}

.header-contacts {
  gap: 40px;
}

.header-contacts__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-gray);
}

.bg-white {
  background-color: var(--bg-white);
}

.bg-light-gray {
  background-color: var(--bg-light-gray);
}

.bg-dark-gray {
  background-color: var(--bg-dark-gray);
  color: var(--text-white);
}

.hero-banner {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("./images/hero-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  color: var(--text-white);
}

.hero-banner .container {
  padding-block: 200px;
  gap: 30px;
}

.hero-banner .container * {
  z-index: 2;
}

.hero-banner h1 {
  max-width: 696px;
  margin: 0;
}

.hero-banner button {
  background-color: var(--blue-button);
  padding: 10px 24px;
}

.about-us__advantageslist {
  gap: 30px;
}

.about-us__advantageslist h3 {
  padding-block: 30px 10px;
}

.about-us__service-list {
  gap: 30px;
}

.about-us p {
  max-width: 270px;
  color: var(--text-gray);
  line-height: 1.71;
}

.about-us__advantageslist-icon {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light-gray);
}

.services .container {
  padding: 0;
}

.our-team ul {
  gap: 30px;
}

.team-member-card {
  width: 270px;
  height: 428px;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-white);
  border-radius: 4px;
  box-shadow: var(--default-card-shadow);
}

.team-member-card__info {
  padding-block: 30px 16px;
}

.team-member-card h3 {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.team-member-card p {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.our-clients .clients-list {
  display: flex;
  gap: 30px;
}

.our-clients .clients-list__icon {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
}

.our-clients .clients-list__icon:hover {
  border-color: var(--obj-active-color);
}

.our-clients .clients-list__icon:hover svg {
  --color3: var(--obj-active-color);
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.filter-option {
  background-color: var(--bg-light-gray);
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-option input[type="radio"] {
  display: none;
}

.filter-option:has(input[type="radio"]:checked) {
  background-color: var(--obj-active-color);
  color: var(--text-white);
  box-shadow: var(--checked-button-shadow);
}

.filter-option:hover {
  background-color: var(--obj-active-color);
  color: var(--text-white);
  box-shadow: var(--checked-button-shadow);
}

.portfolio-list {
  gap: 30px;
}

.portfolio-list__card {
  width: 370px;
  border: 1px solid var(--border-light-gray);
}

.portfolio-list__card:hover {
  box-shadow: var(--hover-card-shadow);
}

.portfolio-list__card img {
  width: 100%;
  object-fit: cover;
}

.portfolio-list__card-info {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  gap: 4px;
}

.portfolio-list__card h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.portfolio-list__card p {
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
}

.social-media {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-media__links {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-media__links p {
  font-weight: 700;
  line-height: 1.17;
}

.social-media__links a:hover svg {
  --color5: var(--obj-active-color);
  --color3: var(--text-white);
}

footer .social-media__links svg {
  --color5: var(--bg-white-transparent);
  --color3: var(--text-white);
}

.invisible {
  display: none;
}
