body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  min-height: 80px;
}

section {
  padding-inline: 215px;
  margin-bottom: 94px;
  overflow: hidden;
  justify-content: center;
}

.bg-white {
  background-color: #fff;
}

.bg-light-gray {
  background-color: #F5F4FA;
}

.bg-dark-gray {
  background-color: #2F303A;
  color: #ffffff;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  align-items: center;
}

.about-us ul{
  margin: 0;
  justify-content: center;
  gap: 50px;
}

.about-us p {
  max-width: 270px;
}

.header-left {
  display: flex;
  align-items: center;
  width: 50%;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.logo {
  margin-left: 215px;
  margin-right: 93px;
}

.header-nav__link {
  margin-inline: 25px;
}

.header-contacts__contact {
  margin-inline: 20px;
  white-space: nowrap;
  color: #757575;
}

h1 {
  max-width: 696px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 2.88px;
}

h2 {
  margin-top: 94px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 1,08px;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.42px;
}

p {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;  
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.28px;
}

a:hover {
  color: #2196F3;
}

button {
  background-color: #2196F3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

button:active {
  background-color: #1976D2;
}

.invisible {
  display: none;
}